---
import { Icon } from "astro-icon/components";
import Theme from "@/components/Theme.astro";

import {
    getLangFromUrl,
    useTranslations,
    useTranslationsRoute,
} from "@/i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tRoute = useTranslationsRoute(lang);
---

<script is:inline>
    function handleSignup(e) {
        e.preventDefault();
        const form = e.target;
        const data = {
            username: form.username.value,
            email: form.email.value,
            p1: form.p1.value,
            p2: form.p2.value
        };
        fetch("/api/auth/signup", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
        })
            .then(async (res) => {
                if (res.ok) {
                    window.location.href = "/";
                } else {
                    const errorMsg = (await res.text()) || "Sign up failed";
                    form.querySelector(".auth-error").textContent = errorMsg;
                }
            })
            .catch(() => {
                form.querySelector(".auth-error").textContent =
                    "Sign up failed";
            });
    }
</script>

<div class="grid min-h-screen place-items-center bg-base-200">
    <div class="w-full max-w-md p-6 bg-base-100 rounded-2xl shadow-lg">
        <div class="grid grid-cols-3 items-center">
            <a
                href={getRelativeLocaleUrl(lang, "")}
                class="text-primary hover:underline flex items-center"
            >
                <Icon name="left-arr" class="w-6 h-6 mr-2" />
            </a>
            <h1 class="text-3xl font-bold text-center">{t("auth.signup")}</h1>
            <div class="flex justify-end">
                <Theme />
            </div>
        </div>

        <p class="text-center mt-2 text-sm">
            {t("auth.alreadyHaveAccount")}
            <a
                href={getRelativeLocaleUrl(lang, tRoute("signin"))}
                class="text-primary hover:underline">{t("auth.signin")}</a
            >
        </p>

        <form onsubmit="handleSignup(event)" class="mt-6 space-y-4">
            <div>
                <label for="username" class="block text-sm font-medium"
                    >{t("auth.username")}</label
                >
                <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder={t("auth.username")}
                    class="input input-bordered w-full mt-1"
                    required
                />
            </div>

            <div>
                <label for="email" class="block text-sm font-medium"
                    >{t("auth.email")}</label
                >
                <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder={t("auth.email")}
                    class="input input-bordered w-full mt-1"
                    required
                />
            </div>

            <div>
                <label for="p1" class="block text-sm font-medium">{t("auth.password")}</label>
                <input type="password" name="p1" id="p1" placeholder={t("auth.password")} class="input input-bordered w-full mt-1" required />
            </div>

            <div>
                <label for="p2" class="block text-sm font-medium">Confirm Password</label>
                <input type="password" name="p2" id="p2" placeholder={t("auth.password")} class="input input-bordered w-full mt-1" required />
            </div>

            <div class="auth-error text-error text-sm mb-2"></div>
            <button type="submit" class="btn btn-primary w-full"
                >{t("auth.signup")}</button
            >
        </form>
    </div>
</div>
